nav.navbar {
  display: grid;
  grid-template-columns: [full-width-start] 20% [breakout-start] 10% [content-start] 1fr [content-end] 10% [breakout-end] 20% [full-width-end];
  grid-template-rows: 70px;
  border-bottom: 1px solid var(--clr-cta);
}

nav .logo-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;

  cursor: pointer;
}
nav a.logo {
  width: 35px;
  height: 35px;
  align-self: center;
  justify-self: center;
  grid-column: full-width-start;
}
nav svg.hamburger {
  width: 35px;
  height: 35px;
  cursor: pointer;
  align-self: center;
  justify-self: center;
  grid-column: breakout-end;
  /* border: 1px solid #000; */
}

nav svg.hamburger path {
  stroke: var(--clr-cta);
}

nav.navbar .hamburger-menu > * {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

nav .hamburger-menu > *:hover {
  color: var(--clr-cta);
  font-weight: var(--fw-700);
  transition: color 100ms ease-in-out;
}

/* mobile users */
nav.navbar .overlay .hamburger-menu a > p:active {
  color: var(--clr-cta);
  font-weight: var(--fw-700);
}

nav.navbar .overlay {
  top: 0px;
  bottom: 0px;
  position: fixed;
  background: rgb(55 50 50 / 84%);
  height: 100%;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

nav.navbar .overlay .hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 200%;
  text-transform: uppercase;
  text-align: center;
}

nav.navbar .overlay .hamburger-menu > a {
  color: #fff;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  nav.navbar svg.hamburger {
    display: none;
  }
  nav.navbar .overlay {
    display: none;
  }

  nav.navbar {
    grid-template-columns: [ full-width-start] 20% [ breakout-start] 10% [ content-start] 10% [ content-end] 10% [ breakout-end] 1fr [ full-width-end];

    grid-auto-rows: unset;
    align-items: center;
  }

  nav.navbar .hamburger-menu {
    display: flex;
    grid-column: breakout-end;
    border-top: unset;
    gap: 5px;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  nav.navbar .hamburger-menu > * {
    font-size: 125%;
  }
  nav .logo-img {
    width: 50px;
    height: 50px;
  }
  nav a.logo {
    width: 50px;
    height: 50px;
  }
  nav.navbar .hamburger-menu > a:nth-child(6) {
    border: 1px solid var(--clr-cta);
    border-radius: 6px;
    padding: 10px;
    background-color: var(--clr-cta);
    color: #fff;
    font-weight: var(--fw-700);
  }
  nav.navbar .hamburger-menu > a:nth-child(6):hover {
    color: var(--clr-cta);
    background-color: #fff;
  }
}
